@model List<ItemModel>

<h2>Item List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    <label for="search">Search:</label>
    <input type="text" id="search" />
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th></th>
    </tr>
    @foreach (ItemModel item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Type</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Relationships", "Relationships", new { id = item.Id })

            </td>
        </tr>
    }
</table>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(function () {
        $("#search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("Search", "Item")", 
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                window.location.href = "@Url.Action("Edit", "Item")" + "/" + ui.item.label; 
            }
        });
    });
</script>